<!DOCTYPE html>
<html>
    <head>
        <title>Covid-19 Simulation</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel='stylesheet' href="{{url_for('static', filename='css/range.css')}}"></link>
        <style>
           body {
               background-color: whitesmoke;
               text-align: center;
               color: rosybrown;
            } 
        </style>
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="{{url_for('static', filename='js/Main.js')}}"></script>
    <script src="{{url_for('static', filename='js/Simulation.js')}}"></script>
    <script src="{{url_for('static', filename='js/Heatmap.js')}}"></script>
</html>
