{%extends 'base.html'%}

{% block body%}
    
    <h1 class="ui header" align="center" style="color: rosybrown;">Covid-19 Propagation Simulation</h1>
    <div class="ui divider"></div>
    <div class="ui two column padded grid">
        <div class="row">
            <div class="four wide column">
                <div id='controls'>
                    <form class="ui form">
                        <h4 class="ui dividing header">Testing Features</h4>
                        <div class="two fields">
                            <div class="field">
                                <label>Time taken for results</label>
                                <select class="ui fluid dropdown">
                                  <option value="8">8hrs</option>
                                  <option value="24">24hrs</option>
                                  <option value="48">48hrs</option>
                                  <option value="72">72hrs</option>
                                  <option value="168">1 week</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>% of False Negative Results</label>
                                <select class="ui fluid dropdown">
                                  <option value="1">1%</option>
                                  <option value="5">5%</option>
                                  <option value="10">10%</option>
                                </select>
                            </div>
                        </div>

                        <h4 class="ui dividing header">Personal Measures</h4>
                        <div class="two fields">
                            <div class="field">
                                <label>Days Between Tests</label>
                                    <select class="ui fluid search dropdown" name="days_between_tests">
                                        <option value="24">24 hours</option>
                                        <option value="168">1 week</option>
                                        <option value="336">2 weeks</option>
                                        <option value="672">1 month</option>
                                    </select>
                            </div>
                            <div class="field">
                                <label>Quarantine enforced</label>
                                <select class="ui fluid search dropdown" name="quarantine">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label>Prob. of Masks</label>
                            <div class='ui input' id='mask_range'>
                                <input type="range" min ='1' max='100', value='50' id="mask_range_input">
                                <p id='slider_val'>50%</p>
                                <input type='text' value='50' id='slider_value' width="10px" hidden>  
                            </div>    
                        </div>
                        <div class="ui button" tabindex="0">Run Simulation</div>
                    </form>
                </div>
            </div>
            <div class="twelve wide column">
                
                    <div class="two fields">
                        <label id='dates_range'>Dates</label>
                        <div class="field">
                            <input type="range" id="day_buttons" min=1, max=500 value="1" style="width: 500px;">
                            </input>
                        
                        </div>
                        
                        <div class="field" hidden>
                            <label>Play/Pause</label>
                            <button class="ui icon button" id='play_pause' type="button" value="pause" disabled>
                                <i class="pause icon" id='playicon'></i>
                            </button>
                        </div>
                        
                    </div>

                <div class="ui segment" id='loader' style="height: 500px;">
                    <div class="ui active dimmer" style="height: 500px;">
                        <div class="ui huge text loader" style="height: 500px;">Loading</div>
                    </div>
                    <p></p>
                </div>
                    
                <div id='simulation' style="display: none; background-color: black;"></div>
            </div>  
        </div>
    </div>
    <!-- grid for smaller charts -->
    <div class="ui four column grid">
        <div class="row">
          <div class="column" id="heatmap">
            <h2 class="ui header" align="center" style="color: rosybrown;">Infection rates Heatmap</h2>
          </div>
          <div class="column">
            <h2 class="ui header" align="center" style="color: rosybrown;">Daily Cases</h2>
          </div>
          <div class="column">
            <h2 class="ui header" align="center" style="color: rosybrown;">Total Cases</h2>
          </div>
          <div class="column">
            <h2 class="ui header" align="center" style="color: rosybrown;">Spread Probability</h2>
          </div>
        </div>
    </div>
{%endblock%}